.close {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
  }
  .close:hover {
    background-color: red;
    color: white;
    cursor: pointer;
  }
  
  .checked {
    text-decoration: line-through;
  }

  .li {
    font-size: 1.1rem;
    list-style: none;
    background-color: azure;
  }